<!-- <nav>
  <h1>British English Certification [BEC]</h1>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <ng-container *ngIf="isLoggedIn">
      <li> <app-admin-dashboard></app-admin-dashboard></li>
      <li><app-customer-dashboard></app-customer-dashboard></li>
      <li>
        <button class="button button-logout" (click)="showLogoutPopup = true">
          Logout
        </button>
      </li>
    </ng-container>
  </ul>
</nav>

<div *ngIf="showLogoutPopup" class="logout-popup">
  <div class="logout-popup-content">
    <p>Are you sure you want to logout?</p>
    <button (click)="logout(); showLogoutPopup = false" id="logout-btn" class="button button-yes">
      Yes, Logout
    </button>
    <button (click)="showLogoutPopup = false" class="button button-cancel">Cancel</button>
  </div>
</div> -->


<!-- course-navbar.component.html -->

<nav>
  <h1>British English Certification [BEC]</h1>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
  <ng-container *ngIf="!isLoggedIn">
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/signup">Register</a></li>
  </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <li><app-admin-dashboard></app-admin-dashboard></li>
      <li><app-customer-dashboard></app-customer-dashboard></li>
      <li>
        <button class="button button-logout" (click)="showLogoutPopup = true">
          Logout
        </button>
      </li>
    </ng-container>
  </ul>
</nav>

<div *ngIf="showLogoutPopup" class="logout-popup">
  <div class="logout-popup-content">
    <p>Are you sure you want to logout?</p>
    <button (click)="logout(); showLogoutPopup = false" id="logout-btn" class="button button-yes">
      Yes, Logout
    </button>
    <button (click)="showLogoutPopup = false" class="button button-cancel">Cancel</button>
  </div>
</div>
