<div class="property-list">
  <h2>Property List</h2>
  <table class="property-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Property Type</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Monthly Rent</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td>{{ property.name }}</td>
        <td>{{ property.description }}</td>
        <td>{{ property.address }}</td>
        <td>{{ property.propertyType }}</td>
        <td>{{ property.bedrooms }}</td>
        <td>{{ property.bathrooms }}</td>
        <td>{{ property.monthlyRent }}</td>
      </tr>
    </tbody>
  </table>
</div>
