<div *ngIf="courses.length > 0" class="card-container">
  <h2>List of Courses</h2>
  <div class="card-deck">
    <div *ngFor="let course of courses" class="custom-card">
      <div class="card-content">
        <h3>{{ course.courseName }}</h3>
        <p class="card-description">{{ course.description }}</p>
        <div class="card-details">
          <p><strong>Duration:</strong> {{ course.duration }}</p>
          <p><strong>Amount:</strong> {{ course.amount }}</p>
        </div>
        <div class="card-actions">
          <!-- Button to trigger edit modal -->
          <button type="button" (click)="redirectToPayment(course)">Pay now</button>
          <button type="button" (click)="updateCourse(course.courseID)">Edit</button>
          
          <!-- Card for delete functionality -->
          <div class="delete-card" *ngIf="deleteConfirmationState[course.courseID]">
            <div class="delete-card-content">
              <div class="modal-content" style="width: 563%; margin-left: -139px;">
                <p>Are you sure you want to delete this course?</p>
                <button type="button" (click)="deleteCourse(course.courseID)">Confirm Delete</button>
                <button type="button" (click)="cancelDelete(course)">Cancel</button>
              </div>
            </div>
          </div>
          
          <button type="button" (click)="showDeleteConfirmation(course)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
