<!-- course-list.component.html -->
<div *ngIf="courses.length > 0" class="card-container">
  <h2>List of Courses</h2>
  <div class="card-deck">
    <div *ngFor="let course of courses" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ course.courseName }}</h5>
        <p class="card-text"><strong>Description:</strong> {{ course.description }}</p>
        <p class="card-text"><strong>Duration:</strong> {{ course.duration }}</p>
        <p class="card-text"><strong>Amount:</strong> {{ course.amount }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="courses.length === 0">
  <p>No courses available.</p>
</div>
