<div *ngIf="courses.length > 0" class="card-container">
  <h2>List of Courses(Customer)</h2>
  <div class="card-deck">
    <div *ngFor="let course of courses" class="custom-card">
      <div class="card-content">
        <h3>{{ course.courseName }}</h3>
        <p class="card-description">{{ course.description }}</p>
        <div class="card-details">
          <p><strong>Duration:</strong> {{ course.duration }}</p>
          <p><strong>Amount:</strong> {{ course.amount }}</p>
          
        </div>
        <div class="card-actions">
          <div class="card-actions">
            <button *ngIf="authService.isStudent()" type="button" (click)="redirectToPayment(course)">Pay now</button>
          </div>
          <!-- <button type="button" (click)="updateCourse(course.courseID)">Edit</button> -->
          
          <!-- <button type="button" (click)="showDeleteConfirmation(course)">Delete</button> -->
         
        </div>
      </div>
    </div>
  </div>
  
</div>

