<app-customerdashboard></app-customerdashboard>
<h2>My Orders</h2>
<div *ngIf="orders.length === 0">
  <p>No orders placed yet.</p>
</div>
<table *ngIf="orders.length > 0">
  <thead>
    <tr>
      <!-- <th>Order ID</th> -->
      <th>Order Price</th>
      <!-- <th>Quantity</th> -->
      <th>Products</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <!-- <td>{{ order.orderId }}</td> -->
      <td>${{ order.orderPrice }}</td>
      <!-- <td>{{ order.quantity }}</td> -->
      <td>
        <table>
          <thead>
            <tr>
              <th>Image</th>
              <th>Type</th>
              <th>Details</th>
              <th>Price</th>
              <!-- <th>Quantity</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of order.products">
              <td><img [src]="product.productImageUrl" alt="Product Image" /></td>
              <td>{{ product.productType }}</td>
              <td>{{ product.productDetails }}</td>
              <td>${{ product.productPrice }}</td>
              <!-- <td>{{ product.userQuantity }}</td> -->
              <!-- <button (click)="cancelOrder(order.orderId)">Cancel Order</button> -->
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<button class="reviewbutton" style="text-align: center;"   (click)="navigateToAddReview()" [disabled]="disableAddReview">Add Review</button>