
<div *ngIf="enquiries.length > 0" class="card-container">
    <h2>List of Enquiries</h2>
    <div class="card-deck">
      <div *ngFor="let enquiry of enquiries" class="custom-card">
        <div class="card-content">
          <h3>{{ enquiry.Title }}</h3>
          <p class="card-description">{{ enquiry.Description }}</p>
          <div class="card-details">
            <p><strong>Enquiry Date:</strong> {{ enquiry.EnquiryDate | date: 'medium' }}</p>
            <p><strong>User Name:</strong> {{ enquiry.User?.Username }}</p>
            <p><strong>Enquiry Type:</strong> {{ enquiry.EnquiryType }}</p>
            <p><strong>Course Name:</strong> {{ enquiry.Course?.CourseName }}</p>
            <p><strong>Email ID:</strong> {{ enquiry.EmailID }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  