.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.no-tutors-message {
  text-align: center;
  margin-top: 20px;
}

.tutor-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tutor-table th,
.tutor-table td {
  padding: 12px; /* Increased padding for better spacing */
  border-bottom: 1px solid #ddd;
  text-align: center; /* Center align text for all cells */
}

.tutor-table th {
  background-color: #f2f2f2;
  font-weight: bold; /* Bold text for table headers */
}

.tutor-item:nth-child(even) {
  background-color: #f2f2f2;
}

.tutor-item:hover {
  background-color: #ddd;
}

.delete-button {
  background-color: #ff2600; /* Coral */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  display: block; /* Ensuring button takes full width of cell */
  margin: 0 auto; /* Center aligning button within cell */
}

.delete-button:hover {
  background-color: #d62000; /* Darker shade on hover */
}

/* Adjust width and height of email and contact number input fields */
.email-input,
.contact-number-input {
    width: 200%; /* Set width to 100% to fill the entire cell */
    height: 36px; /* Set desired height */
    padding: 6px 10px; /* Adjust padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
