body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #333333;
}

p {
    margin-top: 35px;
    color: #666;
    text-align: center;
    max-width: 900px;
    font-size: 18px;
}

.container {
    margin-top: 20px;
  }
  
  /* styles.css */

/* Custom styles for the carousel */
.carousel-item img {
    max-height: 400px; /* Adjust maximum height of carousel images */
}

/* Custom styles for the jumbotron */
.jumbotron {
    background-color: #f8f9fa; /* Light background color */
    padding: 4rem 2rem; /* Adjust padding as needed */
}

.jumbotron h1 {
    font-size: 3rem; /* Larger font size for headline */
    color: #343a40; /* Dark text color */
}

.jumbotron p {
    font-size: 1.5rem; /* Larger font size for paragraph */
    color: #6c757d; /* Slightly darker text color */
}
