   <div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Clothify</h1>
    <p>Your one-stop shop for all your clothing needs! Discover the latest trends and styles.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="album">
        <span class = "clothes">
            <img src="../../../assets/Clothes/frock.jpg" alt="frock">
        </span>
      </div>
      <div class="album">
        <span class = "clothes">
            <img src="../../../assets/Clothes/hoodie.jpg" alt="hoodie">
        </span>
      </div>
      <div class="album">
        <span class = "clothes">
            <img src="../../../assets/Clothes/jean.jpg" alt="jean">
        </span>
      </div>
      <div class="album">
        <span class = "clothes">
            <img src="../../../assets/Clothes/shirt.jpg" alt="shirt">
        </span>
      </div>
      <div class="album">
        <span class = "clothes">
            <img src="../../../assets/Clothes/pants.jpg" alt="pants">
        </span>
      </div>
      <div class="album">
        <span class = "clothes">
            <img src="../../../assets/Clothes/skirt.jpg" alt="skirt">
        </span>
      </div>      
      <div class="album">
        <span class = "clothes">
            <img src="../../../assets/Clothes/tees.jpg" alt="tees">
        </span>
      </div>
      </div>
    </div>
  </div>
    <div>
      <div>
        <p>
             Clothify is your ultimate destination for the latest in fashion and style. Our wide selection of clothing 
          caters to every taste and occasion, offering everything from trendy streetwear to elegant formal attire. 
          Whether you're looking for everyday essentials or statement pieces to make heads turn, Clothify has it all. 
          Our mission is to empower you to express yourself through fashion, providing high-quality apparel that fits 
          your lifestyle and budget. Explore our curated collections and discover your signature style at Clothify today!
          With a commitment to sustainability, we source materials ethically and promote eco-friendly practices in our
          production processes. Our customer service team is dedicated to ensuring your shopping experience is seamless,
          from browsing to checkout. Join the Clothify community and stay updated with the latest fashion trends through
          our social media channels and blog. Whether you're shopping for yourself or looking for the perfect gift, 
          Clothify offers a personalized shopping experience tailored to your needs. Browse our new arrivals regularly
          to stay ahead of the curve and elevate your wardrobe with the season's hottest styles. Experience the 
          difference at Clothify, where fashion meets passion and every purchase tells a story.
        </p>
      </div>
    </div>

