.carousel-item {
    height: 400px; /* Set height of carousel items */
}

.carousel-item img {
    object-fit: cover; /* Ensure images cover the entire slide */
    height: 100%; /* Make sure images fill the carousel item */
    width: 100%; /* Make sure images fill the carousel item */
}

.carousel-control-prev, .carousel-control-next {
    width: auto; /* Adjust width of control buttons */
    color: #000; /* Change color of control buttons */
}

/* Custom styles for the jumbotron */
.jumbotron {
    background-color: #f8f9fa; /* Light background color */
    padding: 4rem 2rem; /* Adjust padding as needed */
}

.jumbotron h1 {
    font-size: 3rem; /* Larger font size for headline */
    color: #343a40; /* Dark text color */
}

.jumbotron p {
    font-size: 1.5rem; /* Larger font size for paragraph */
    color: #6c757d; /* Slightly darker text color */
}
