body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: aliceblue;
    opacity: 0.9;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #333333;
}

p {
    margin-top: 35px;
    color: #090909;
    text-align:center;
    /* max-width: fit-content; */
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin-top: 5px;
  }

.carousel-item img {
    max-height: 200px; 
}


.jumbotron {
    background-color: #1eefa2a3; 
    padding: 10px; 
    font-size: medium;

}

.jumbotron h1 {
    font-size: 45x; 
    color: #343a40; 
}

.jumbotron p {
    font-size: 1rem; 
    color: rgb(179, 22, 179); 
    text-align: center;
}

/* Container for the album */
.album {
    display: inline-block; 
    /* flex-wrap: nowrap;  */
    gap: 10px; 
    overflow-x: auto; 
    font-size: 0; 
    margin-top: 10px; 
  }
  
  .clothes {
    display: block;
    overflow: hidden;
    border-radius: 50%; 
  }
  
  .clothes img {
    display: block;
    width: 150px; 
    height: 200px;
    border-radius: 50%; 
    border: 1px solid rgb(254, 196, 255); 
    margin:10px;
  }
  