<nav>
  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
      <!-- <li><a routerLink="/customer/view/resort" *ngIf="isCustomer">View Resorts</a></li>
      <li><a routerLink="/customer/view/bookings" *ngIf="isCustomer">View Bookings</a></li> -->
      <!-- <li><a routerLink="/customer/add/course" *ngIf="isCustomer">Add Course</a></li> -->
      <li><a routerLink="/courselist" *ngIf="isCustomer">Go to Course List</a></li>
      <li><a routerLink="/enquiry">Add Enquiry</a></li>
    </ng-container>
  </ul>
</nav>

