<div *ngIf="payments.length > 0" class="card-container">
    <h2>List of Payments</h2>
    <div class="card-deck">
      <div *ngFor="let payment of payments" class="custom-card">
        <div class="card-content">
          <!-- <h3>Payment ID: {{ payment.paymentID }}</h3> -->
          <p><strong>Amount Paid:</strong> {{ payment.amountPaid | currency }}</p>
          <p><strong>Payment Date:</strong> {{ payment.paymentDate | date: 'medium' }}</p>
          <p><strong>Payment Method:</strong> {{ payment.paymentMethod }}</p>
          <p><strong>Transaction ID:</strong> {{ payment.transactionID }}</p>
          <p><strong>User Name:</strong> {{ payment.user?.username }}</p>
          <p><strong>Course Name:</strong> {{ payment.course?.courseName }}</p>
        </div>
      </div>
    </div>
  </div>
  