   <form (submit)="addRecipe()">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="newRecipe.name" name="name" required>
        <div *ngIf="isFieldInvalid('name')" class="error-message">Name is required</div>
    </div>
    <div>
        <label for="email">Email:</label>
        <textarea id="email" [(ngModel)]="newRecipe.email" name="email" required></textarea>
        <div *ngIf="isFieldInvalid('email')" class="error-message">Email is required</div>
    </div>
    <div>
        <label for="subjectsOffered">Subjects Offered:</label>
        <textarea id="subjectsOffered" [(ngModel)]="newRecipe.subjectsOffered" name="subjectsOffered" required></textarea>
        <div *ngIf="isFieldInvalid('subjectsOffered')" class="error-message">Subjects Offered are required</div>
    </div>
    <div>
        <label for="contactNumber">Contact Number:</label>
        <textarea id="contactNumber" [(ngModel)]="newRecipe.contactNumber" name="contactNumber" required></textarea>
        <div *ngIf="isFieldInvalid('contactNumber')" class="error-message">Contact Number is required</div>
    </div>
    <div>
        <label for="author">Author:</label>
        <input type="text" id="author" [(ngModel)]="newRecipe.author" name="author" required>
        <div *ngIf="isFieldInvalid('author')" class="error-message">Author is required</div>
    </div>
    <button type="submit">Add Recipe</button>
</form>
